<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<a href="/">Home</a><br><br><br>

<div method="post">
    <table border="1px">
        <tr>
            <th>id</th>
            <th>Name</th>user
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Card Account Number</th>
            <th>Driver License</th>
            <th>Role</th>
            <th>Password</th>
            <th>Picture</th>
            <th>Delete</th>
            <th>Change</th>
        </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.getCard}"></td>
            <td th:text="${user.getDriverLicense}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.password}"></td>
            <td><img th:if="${user.picUrl != null}" th:src="@{/users/getImage(fileName=${user.picUrl})}"></td>
            <td><a th:href="@{'/users/delete'+${user.id}}">Delete</a></td>
            <td><a th:href="@{/users/edit(userId=${user.id})}">edit</a></td>
        </tr>
    </table>


    <div th:if="${users.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/admin(size=${users.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==users.number + 1} ? active"></a>
    </div>
</div>
</body>
</html>