<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/myStyle.css">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <a href="/users">My Page</a>
<form th:action="@{'/users/edit/' + ${userId}}" method="post" enctype="multipart/form-data">

    <input type="email" id="email" name="email" placeholder="email"/><br>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber"/><br>
    <input type="text" id="card" name="card" placeholder="card"/><br>
    <input type="text" id="driverLicense" name="driverLicense" placeholder="driverLicense"/><br>
    <div>
        <input type="file" name="image" id ="userImage" accept="image/*" >
    </div>

    <input type="submit" value="Edit User">
</form>
    </div>
</div>
</body>
</html>