<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/view/css/myStyle.css">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/view/images/1.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form action="/view/login" method="post">
            <div>
                <label for="username"></label>
                <input type="email" id="username" name="username" placeholder="Enter your Email" class="fadeIn first"/>
            </div>

            <div>
                <label for="password">Password (4 characters minimum):</label>
                <input type="password" id="password" name="password"
                       minlength="4" required placeholder="Password">
            </div>
            <span style="color: red" th:if="${error != null}">Invalid credentials</span>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>

</body>
</html>